In [2]:
# Exercise 1
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
car_evaluation = fetch_ucirepo(id=19) 
  
# data (as pandas dataframes) 
X = car_evaluation.data.features 
y = car_evaluation.data.targets 
  
# metadata 
print(car_evaluation.metadata) 
  
# variable information 
print(car_evaluation.variables)

{'uci_id': 19, 'name': 'Car Evaluation', 'repository_url': 'https://archive.ics.uci.edu/dataset/19/car+evaluation', 'data_url': 'https://archive.ics.uci.edu/static/public/19/data.csv', 'abstract': 'Derived from simple hierarchical decision model, this database may be useful for testing constructive induction and structure discovery methods.', 'area': 'Other', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 1728, 'num_features': 6, 'feature_types': ['Categorical'], 'demographics': [], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1988, 'last_updated': 'Thu Aug 10 2023', 'dataset_doi': '10.24432/C5JP48', 'creators': ['Marko Bohanec'], 'intro_paper': {'ID': 249, 'type': 'NATIVE', 'title': 'Knowledge acquisition and explanation for multi-attribute decision making', 'authors': 'M. Bohanec, V. Rajkoviƒç', 'venue': '8th Intl Workshop on Expert Systems and their Applications, Avignon, France', 'year': 1988, 'journal': None, 'DOI': None, 'URL': 'https://www.semanticscholar.org/paper/KNOWLEDGE-ACQUISITION-AND-EXPLANATION-FOR-DECISION-Bohanec-Rajkovi%C4%8D/8bab443ae322ff47c3e609272bd93fd4650555bc', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'Car Evaluation Database was derived from a simple hierarchical decision model originally developed for the demonstration of DEX, M. Bohanec, V. Rajkovic: Expert system for decision making. Sistemica 1(1), pp. 145-157, 1990.). The model evaluates cars according to the following concept structure:\r\n\r\nCAR                      car acceptability\r\n. PRICE                  overall price\r\n. . buying               buying price\r\n. . maint                price of the maintenance\r\n. TECH                   technical characteristics\r\n. . COMFORT              comfort\r\n. . . doors              number of doors\r\n. . . persons            capacity in terms of persons to carry\r\n. . . lug_boot           the size of luggage boot\r\n. . safety               estimated safety of the car\r\n\r\nInput attributes are printed in lowercase. Besides the target concept (CAR), the model includes three intermediate concepts: PRICE, TECH, COMFORT. Every concept is in the original model related to its lower level descendants by a set of examples (for these examples sets see http://www-ai.ijs.si/BlazZupan/car.html).\r\n\r\nThe Car Evaluation Database contains examples with the structural information removed, i.e., directly relates CAR to the six input attributes: buying, maint, doors, persons, lug_boot, safety.\r\n\r\nBecause of known underlying concept structure, this database may be particularly useful for testing constructive induction and structure discovery methods.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'buying:   vhigh, high, med, low.\nmaint:    vhigh, high, med, low.\ndoors:    2, 3, 4, 5more.\npersons:  2, 4, more.\nlug_boot: small, med, big.\nsafety:   low, med, high.', 'citation': None}}
       name     role         type demographic  \
0    buying  Feature  Categorical        None
1     maint  Feature  Categorical        None
2     doors  Feature  Categorical        None
3   persons  Feature  Categorical        None
4  lug_boot  Feature  Categorical        None
5    safety  Feature  Categorical        None
6     class   Target  Categorical        None

                                         description units missing_values
0                                       buying price  None             no
1                           price of the maintenance  None             no
2                                    number of doors  None             no
3              capacity in terms of persons to carry  None             no
4                           the size of luggage boot  None             no
5                        estimated safety of the car  None             no
6  evaulation level (unacceptable, acceptable, go...  None             no

In [5]:
import pandas as pd

# Combine features and target into a single DataFrame
car_df = pd.concat([X, y], axis=1)

# Display the first few rows
car_df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [20]:
# Exercise 2
import requests
import pandas as pd
url = "https://api.open-meteo.com/v1/forecast"

params = {
    "latitude": 52.52,   # Example: Berlin
    "longitude": 13.41,
    "hourly": ["temperature_2m", "wind_speed_10m"],
    "timezone": "Europe/Berlin"
}

# Make API request
response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()

data

{'latitude': 52.52,
 'longitude': 13.419998,
 'generationtime_ms': 0.07677078247070312,
 'utc_offset_seconds': 3600,
 'timezone': 'Europe/Berlin',
 'timezone_abbreviation': 'GMT+1',
 'elevation': 38.0,
 'hourly_units': {'time': 'iso8601',
  'temperature_2m': '¬∞C',
  'wind_speed_10m': 'km/h'},
 'hourly': {'time': ['2025-03-12T00:00',
   '2025-03-12T01:00',
   '2025-03-12T02:00',
   '2025-03-12T03:00',
   '2025-03-12T04:00',
   '2025-03-12T05:00',
   '2025-03-12T06:00',
   '2025-03-12T07:00',
   '2025-03-12T08:00',
   '2025-03-12T09:00',
   '2025-03-12T10:00',
   '2025-03-12T11:00',
   '2025-03-12T12:00',
   '2025-03-12T13:00',
   '2025-03-12T14:00',
   '2025-03-12T15:00',
   '2025-03-12T16:00',
   '2025-03-12T17:00',
   '2025-03-12T18:00',
   '2025-03-12T19:00',
   '2025-03-12T20:00',
   '2025-03-12T21:00',
   '2025-03-12T22:00',
   '2025-03-12T23:00',
   '2025-03-13T00:00',
   '2025-03-13T01:00',
   '2025-03-13T02:00',
   '2025-03-13T03:00',
   '2025-03-13T04:00',
   '2025-03-13T05:00',
   '2025-03-13T06:00',
   '2025-03-13T07:00',
   '2025-03-13T08:00',
   '2025-03-13T09:00',
   '2025-03-13T10:00',
   '2025-03-13T11:00',
   '2025-03-13T12:00',
   '2025-03-13T13:00',
   '2025-03-13T14:00',
   '2025-03-13T15:00',
   '2025-03-13T16:00',
   '2025-03-13T17:00',
   '2025-03-13T18:00',
   '2025-03-13T19:00',
   '2025-03-13T20:00',
   '2025-03-13T21:00',
   '2025-03-13T22:00',
   '2025-03-13T23:00',
   '2025-03-14T00:00',
   '2025-03-14T01:00',
   '2025-03-14T02:00',
   '2025-03-14T03:00',
   '2025-03-14T04:00',
   '2025-03-14T05:00',
   '2025-03-14T06:00',
   '2025-03-14T07:00',
   '2025-03-14T08:00',
   '2025-03-14T09:00',
   '2025-03-14T10:00',
   '2025-03-14T11:00',
   '2025-03-14T12:00',
   '2025-03-14T13:00',
   '2025-03-14T14:00',
   '2025-03-14T15:00',
   '2025-03-14T16:00',
   '2025-03-14T17:00',
   '2025-03-14T18:00',
   '2025-03-14T19:00',
   '2025-03-14T20:00',
   '2025-03-14T21:00',
   '2025-03-14T22:00',
   '2025-03-14T23:00',
   '2025-03-15T00:00',
   '2025-03-15T01:00',
   '2025-03-15T02:00',
   '2025-03-15T03:00',
   '2025-03-15T04:00',
   '2025-03-15T05:00',
   '2025-03-15T06:00',
   '2025-03-15T07:00',
   '2025-03-15T08:00',
   '2025-03-15T09:00',
   '2025-03-15T10:00',
   '2025-03-15T11:00',
   '2025-03-15T12:00',
   '2025-03-15T13:00',
   '2025-03-15T14:00',
   '2025-03-15T15:00',
   '2025-03-15T16:00',
   '2025-03-15T17:00',
   '2025-03-15T18:00',
   '2025-03-15T19:00',
   '2025-03-15T20:00',
   '2025-03-15T21:00',
   '2025-03-15T22:00',
   '2025-03-15T23:00',
   '2025-03-16T00:00',
   '2025-03-16T01:00',
   '2025-03-16T02:00',
   '2025-03-16T03:00',
   '2025-03-16T04:00',
   '2025-03-16T05:00',
   '2025-03-16T06:00',
   '2025-03-16T07:00',
   '2025-03-16T08:00',
   '2025-03-16T09:00',
   '2025-03-16T10:00',
   '2025-03-16T11:00',
   '2025-03-16T12:00',
   '2025-03-16T13:00',
   '2025-03-16T14:00',
   '2025-03-16T15:00',
   '2025-03-16T16:00',
   '2025-03-16T17:00',
   '2025-03-16T18:00',
   '2025-03-16T19:00',
   '2025-03-16T20:00',
   '2025-03-16T21:00',
   '2025-03-16T22:00',
   '2025-03-16T23:00',
   '2025-03-17T00:00',
   '2025-03-17T01:00',
   '2025-03-17T02:00',
   '2025-03-17T03:00',
   '2025-03-17T04:00',
   '2025-03-17T05:00',
   '2025-03-17T06:00',
   '2025-03-17T07:00',
   '2025-03-17T08:00',
   '2025-03-17T09:00',
   '2025-03-17T10:00',
   '2025-03-17T11:00',
   '2025-03-17T12:00',
   '2025-03-17T13:00',
   '2025-03-17T14:00',
   '2025-03-17T15:00',
   '2025-03-17T16:00',
   '2025-03-17T17:00',
   '2025-03-17T18:00',
   '2025-03-17T19:00',
   '2025-03-17T20:00',
   '2025-03-17T21:00',
   '2025-03-17T22:00',
   '2025-03-17T23:00',
   '2025-03-18T00:00',
   '2025-03-18T01:00',
   '2025-03-18T02:00',
   '2025-03-18T03:00',
   '2025-03-18T04:00',
   '2025-03-18T05:00',
   '2025-03-18T06:00',
   '2025-03-18T07:00',
   '2025-03-18T08:00',
   '2025-03-18T09:00',
   '2025-03-18T10:00',
   '2025-03-18T11:00',
   '2025-03-18T12:00',
   '2025-03-18T13:00',
   '2025-03-18T14:00',
   '2025-03-18T15:00',
   '2025-03-18T16:00',
   '2025-03-18T17:00',
   '2025-03-18T18:00',
   '2025-03-18T19:00',
   '2025-03-18T20:00',
   '2025-03-18T21:00',
   '2025-03-18T22:00',
   '2025-03-18T23:00'],
  'temperature_2m': [4.1,
   4.5,
   4.5,
   4.8,
   5.2,
   5.2,
   5.1,
   5.0,
   5.1,
   5.6,
   6.2,
   7.0,
   7.3,
   7.5,
   7.8,
   8.2,
   8.4,
   8.2,
   7.8,
   7.4,
   6.7,
   6.4,
   6.3,
   6.1,
   5.8,
   5.5,
   5.4,
   5.2,
   5.1,
   4.9,
   4.8,
   4.6,
   4.8,
   5.6,
   6.4,
   7.2,
   7.9,
   8.3,
   8.8,
   8.1,
   8.4,
   8.2,
   7.4,
   7.0,
   6.8,
   6.6,
   5.7,
   5.4,
   5.1,
   4.6,
   4.2,
   3.8,
   3.5,
   3.0,
   2.6,
   2.3,
   2.3,
   2.8,
   3.7,
   5.2,
   5.8,
   6.7,
   8.1,
   7.8,
   7.6,
   7.3,
   6.7,
   6.0,
   5.4,
   4.9,
   4.2,
   3.6,
   3.5,
   3.2,
   2.7,
   2.2,
   1.9,
   1.8,
   1.9,
   2.2,
   2.6,
   3.8,
   5.3,
   6.9,
   8.2,
   8.9,
   9.3,
   9.4,
   9.1,
   8.4,
   7.5,
   6.2,
   5.2,
   4.3,
   3.4,
   2.7,
   2.2,
   1.7,
   1.3,
   1.0,
   0.8,
   0.4,
   -0.0,
   0.1,
   0.9,
   2.2,
   3.6,
   5.1,
   6.8,
   8.0,
   8.6,
   8.9,
   8.7,
   8.0,
   6.8,
   5.7,
   4.8,
   3.9,
   3.1,
   2.5,
   2.0,
   1.6,
   1.4,
   1.2,
   1.1,
   1.0,
   0.9,
   1.2,
   2.3,
   3.7,
   5.1,
   6.3,
   7.4,
   8.2,
   5.8,
   6.1,
   5.9,
   5.2,
   4.1,
   3.0,
   1.9,
   0.8,
   -0.1,
   -0.7,
   -1.1,
   -1.4,
   -1.6,
   -1.7,
   -1.8,
   -2.2,
   -2.6,
   -2.6,
   -1.7,
   -0.3,
   1.1,
   2.5,
   4.0,
   5.2,
   5.9,
   6.4,
   6.5,
   6.0,
   5.2,
   4.5,
   3.9,
   3.3,
   2.7,
   1.9],
  'wind_speed_10m': [1.1,
   2.1,
   2.8,
   2.9,
   5.0,
   4.7,
   6.1,
   6.8,
   5.8,
   5.9,
   6.2,
   6.2,
   6.3,
   5.1,
   6.0,
   2.4,
   3.9,
   5.4,
   5.2,
   6.2,
   5.4,
   4.4,
   2.5,
   3.5,
   3.8,
   4.3,
   3.6,
   2.6,
   2.7,
   3.6,
   2.4,
   3.1,
   1.9,
   3.8,
   6.8,
   7.7,
   8.8,
   9.7,
   10.6,
   10.8,
   11.8,
   7.0,
   7.2,
   6.6,
   3.4,
   3.4,
   5.4,
   4.0,
   4.4,
   4.7,
   5.2,
   4.9,
   5.7,
   6.4,
   6.6,
   7.2,
   6.6,
   6.4,
   7.6,
   7.9,
   9.0,
   8.4,
   3.6,
   5.2,
   5.8,
   6.2,
   6.2,
   6.5,
   6.1,
   6.9,
   5.4,
   4.6,
   4.6,
   5.4,
   6.1,
   6.1,
   6.1,
   6.9,
   7.1,
   7.4,
   8.2,
   9.3,
   10.2,
   10.7,
   12.3,
   12.8,
   13.2,
   13.9,
   13.7,
   12.8,
   10.3,
   7.4,
   6.6,
   6.7,
   6.5,
   6.2,
   5.9,
   5.9,
   5.9,
   5.9,
   5.9,
   5.7,
   5.5,
   5.5,
   6.0,
   7.2,
   8.2,
   9.2,
   10.2,
   10.7,
   10.7,
   10.4,
   9.7,
   8.4,
   6.9,
   5.7,
   5.3,
   5.2,
   5.0,
   4.6,
   3.5,
   3.2,
   3.2,
   3.4,
   3.6,
   3.3,
   3.6,
   3.9,
   5.2,
   7.3,
   9.0,
   11.1,
   12.9,
   14.3,
   17.3,
   16.1,
   14.8,
   13.1,
   11.4,
   10.4,
   9.6,
   8.9,
   8.1,
   7.5,
   6.9,
   6.1,
   5.4,
   4.6,
   4.1,
   3.6,
   3.1,
   2.6,
   1.8,
   1.4,
   1.9,
   2.2,
   2.6,
   3.1,
   3.8,
   4.7,
   5.2,
   4.6,
   2.9,
   2.2,
   2.3,
   2.8,
   3.3,
   3.4]}}

In [21]:
weather_df = pd.DataFrame(data['hourly'])
weather_df['time'] = pd.to_datetime(weather_df["time"]) 
weather_df['temperature_2m'] = pd.to_numeric(weather_df["temperature_2m"]) 
weather_df

                   time  temperature_2m  wind_speed_10m
0   2025-03-12 00:00:00             4.1             1.1
1   2025-03-12 01:00:00             4.5             2.1
2   2025-03-12 02:00:00             4.5             2.8
3   2025-03-12 03:00:00             4.8             2.9
4   2025-03-12 04:00:00             5.2             5.0
..                  ...             ...             ...
163 2025-03-18 19:00:00             4.5             2.2
164 2025-03-18 20:00:00             3.9             2.3
165 2025-03-18 21:00:00             3.3             2.8
166 2025-03-18 22:00:00             2.7             3.3
167 2025-03-18 23:00:00             1.9             3.4

[168 rows x 3 columns]

In [15]:
# Exercise 4
census_df = pd.read_csv('data/censusData-with3errors.csv')
num_columns = ['age','fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

num_stats = census_df[num_columns].agg(['max', 'min', 'mean', 'var'])
num_stats

# age
# capital loss

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
max,237.000000,1.484705e+06,16.000000,9.999900e+04,4356.000000,99.000000
min,3.000000,1.228500e+04,1.000000,0.000000e+00,0.000000,1.000000
mean,38.586745,1.897784e+05,10.080679,1.077649e+03,87.303830,40.437456
var,187.309252,1.114080e+10,6.618890,5.454254e+07,162376.937814,152.458995

In [17]:
str_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
unique_counts = census_df[str_columns].nunique()
unique_counts

workclass          9
education         16
marital-status     7
occupation        15
relationship       6
race               5
sex                2
native-country    43
dtype: int64

In [25]:
for col in str_columns:
    print(f"---------------------------------------------------")
    print(f"üîπ Unique values and counts in '{col}': {census_df[col].nunique()}")
    print(census_df[col].value_counts())
    
    # Unimed-States

---------------------------------------------------
üîπ Unique values and counts in 'workclass': 9
workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64
---------------------------------------------------
üîπ Unique values and counts in 'education': 16
education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64
---------------------------------------------------
üîπ Unique values and counts in 'marital-status': 7
marital-status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64
---------------------------------------------------
üîπ Unique values and counts in 'occupation': 15
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64
---------------------------------------------------
üîπ Unique values and counts in 'relationship': 6
relationship
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64
---------------------------------------------------
üîπ Unique values and counts in 'race': 5
race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64
---------------------------------------------------
üîπ Unique values and counts in 'sex': 2
sex
Male      21790
Female    10771
Name: count, dtype: int64
---------------------------------------------------
üîπ Unique values and counts in 'native-country': 43
native-country
United-States                 29169
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Unimed-States                     1
Name: count, dtype: int64